CGR.SEGUR.DEMO01/Service References/srvAuditoriaES/AuditoriaES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuditoriaES" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://11.162.108.89:8035/SrvEntidad/AuditoriaES.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://11.162.108.89:8035/SrvEntidad/AuditoriaES.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://11.162.108.89:8035/SrvEntidad/AuditoriaES.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CGR.SEGUR.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuditoriaES_GuardarEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEvento" />
  </wsdl:message>
  <wsdl:message name="IAuditoriaES_GuardarEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IAuditoriaES_ValidarSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSistema" />
  </wsdl:message>
  <wsdl:message name="IAuditoriaES_ValidarSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="IAuditoriaES_ValidarPermisoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarPermisoServicio" />
  </wsdl:message>
  <wsdl:message name="IAuditoriaES_ValidarPermisoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarPermisoServicioResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuditoriaES">
    <wsdl:operation name="GuardarEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditoriaES/GuardarEvento" message="tns:IAuditoriaES_GuardarEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditoriaES/GuardarEventoResponse" message="tns:IAuditoriaES_GuardarEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarSistema">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditoriaES/ValidarSistema" message="tns:IAuditoriaES_ValidarSistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditoriaES/ValidarSistemaResponse" message="tns:IAuditoriaES_ValidarSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarPermisoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditoriaES/ValidarPermisoServicio" message="tns:IAuditoriaES_ValidarPermisoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditoriaES/ValidarPermisoServicioResponse" message="tns:IAuditoriaES_ValidarPermisoServicio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuditoriaES" type="tns:IAuditoriaES">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarEvento">
      <soap:operation soapAction="http://tempuri.org/IAuditoriaES/GuardarEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarSistema">
      <soap:operation soapAction="http://tempuri.org/IAuditoriaES/ValidarSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarPermisoServicio">
      <soap:operation soapAction="http://tempuri.org/IAuditoriaES/ValidarPermisoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditoriaES">
    <wsdl:port name="BasicHttpBinding_IAuditoriaES" binding="tns:BasicHttpBinding_IAuditoriaES">
      <soap:address location="http://11.162.108.89:8035/SrvEntidad/AuditoriaES.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>