CGR.SEGUR.DEMO01/Service References/srvAuditoriaES/AuditoriaES1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://11.162.108.89:8035/SrvEntidad/AuditoriaES.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CGR.SEGUR.BE" />
  <xs:element name="GuardarEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CGR.SEGUR.BE" minOccurs="0" name="objEventoBE" nillable="true" type="q1:EventoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CGR.SEGUR.BE" minOccurs="0" name="GuardarEventoResult" nillable="true" type="q2:RespuestaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoAplicacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CGR.SEGUR.BE" minOccurs="0" name="ValidarSistemaResult" nillable="true" type="q3:RespuestaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPermisoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoAplicacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreServicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreMetodo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPermisoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CGR.SEGUR.BE" minOccurs="0" name="ValidarPermisoServicioResult" nillable="true" type="q4:RespuestaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>