CGR.SEGUR.DEMO01/Service References/srvDataSensible/Auditoria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Auditoria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://11.162.108.89:8015/SrvTarea/Auditoria.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://11.162.108.89:8015/SrvTarea/Auditoria.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://11.162.108.89:8015/SrvTarea/Auditoria.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CGR.SEGUR.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuditoria_EventosAplicacionListar_InputMessage">
    <wsdl:part name="parameters" element="tns:EventosAplicacionListar" />
  </wsdl:message>
  <wsdl:message name="IAuditoria_EventosAplicacionListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EventosAplicacionListarResponse" />
  </wsdl:message>
  <wsdl:message name="IAuditoria_GuardarAuditoria_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAuditoria" />
  </wsdl:message>
  <wsdl:message name="IAuditoria_GuardarAuditoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAuditoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IAuditoria_GuardarEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEvento" />
  </wsdl:message>
  <wsdl:message name="IAuditoria_GuardarEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEventoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuditoria">
    <wsdl:operation name="EventosAplicacionListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditoria/EventosAplicacionListar" message="tns:IAuditoria_EventosAplicacionListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditoria/EventosAplicacionListarResponse" message="tns:IAuditoria_EventosAplicacionListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarAuditoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditoria/GuardarAuditoria" message="tns:IAuditoria_GuardarAuditoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditoria/GuardarAuditoriaResponse" message="tns:IAuditoria_GuardarAuditoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditoria/GuardarEvento" message="tns:IAuditoria_GuardarEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditoria/GuardarEventoResponse" message="tns:IAuditoria_GuardarEvento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuditoria" type="tns:IAuditoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EventosAplicacionListar">
      <soap:operation soapAction="http://tempuri.org/IAuditoria/EventosAplicacionListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarAuditoria">
      <soap:operation soapAction="http://tempuri.org/IAuditoria/GuardarAuditoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarEvento">
      <soap:operation soapAction="http://tempuri.org/IAuditoria/GuardarEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Auditoria">
    <wsdl:port name="BasicHttpBinding_IAuditoria" binding="tns:BasicHttpBinding_IAuditoria">
      <soap:address location="http://11.162.108.89:8015/SrvTarea/Auditoria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>